In [3]:
import numpy as np
import pandas as pd

In [4]:
data = pd.read_csv("blogtext.csv", nrows=10000)

In [5]:
data.shape

(10000, 7)

In [6]:
import re

In [7]:
text_clean = [re.sub("[^a-zA-Z ]","",x).lower() for x in data["text"]]

In [8]:
data.columns

Index(['id', 'gender', 'age', 'topic', 'sign', 'date', 'text'], dtype='object')

In [9]:
data.head(2)

,id,gender,age,topic,sign,date,text
0,2059027,male,15,Student,Leo,"14,May,2004","Info has been found (+/- 100 pages,..."
1,2059027,male,15,Student,Leo,"13,May,2004",These are the team members: Drewe...

In [10]:
data["age"]=data["age"].astype("str")

In [11]:
data['age']=data['age'].astype("category")

In [12]:
data["topic"]=data["topic"].astype("category")

In [13]:
data["sign"]=data["sign"].astype("category")

In [14]:
data['Lable']=data[['gender','age','topic','sign']].values.tolist()

In [15]:
data_new=data[['text','Lable']]

In [16]:
X=data_new['text']

In [17]:
y=data_new['Lable']

In [18]:
from sklearn.model_selection import train_test_split

In [19]:
x_train,x_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=2)

In [20]:
x_train.head(3)

8856           Can someone tell me how we got to be li...
1545               now i am here and i expect my life ...
8136                  urlLink    Look at the sun refle...
Name: text, dtype: object

In [21]:
y_test.head(3)

7878       [male, 36, Fashion, Aries]
3224    [male, 35, Technology, Aries]
1919    [male, 35, Technology, Aries]
Name: Lable, dtype: object

In [22]:
from sklearn.feature_extraction.text import CountVectorizer

In [23]:
vect = CountVectorizer(ngram_range=(1,2),stop_words='english', 
                       max_features=500)

In [24]:
x_tr_mat=vect.fit_transform(x_train)

In [25]:
feature=vect.get_feature_names()

In [26]:
x_train.shape

(8000,)

In [27]:
x_tr_mat.shape

(8000, 500)

In [28]:
x_te_mat=vect.fit_transform(x_test)

In [29]:
feat=vect.get_feature_names

In [30]:
x_te_mat.shape

(2000, 500)

In [31]:
x_tr=x_tr_mat.toarray()

In [32]:
x_te=x_te_mat.toarray()

In [33]:
from sklearn.preprocessing import MultiLabelBinarizer

In [34]:
from collections import defaultdict
d = defaultdict(int)
for i in y:
    for j in i:
         d[j] += 1

In [35]:
lables=d.keys()

In [36]:
lis=[]
for i in lables:
    lis.append(i)

In [37]:
mlb = MultiLabelBinarizer(classes=lis,sparse_output=True)
mlb.fit(y_train)

MultiLabelBinarizer(classes=['male', '15', 'Student', 'Leo', '33',
                             'InvestmentBanking', 'Aquarius', 'female', '14',
                             'indUnk', 'Aries', '25', 'Capricorn', '17',
                             'Gemini', '23', 'Non-Profit', 'Cancer', 'Banking',
                             '37', 'Sagittarius', '26', '24', 'Scorpio', '27',
                             'Education', '45', 'Engineering', 'Libra',
                             'Science', ...],
                    sparse_output=True)

In [38]:
y_tr=mlb.transform(y_train)

In [39]:
from sklearn.multiclass import OneVsRestClassifier
from sklearn.linear_model import LogisticRegression

In [63]:
#clf=LogisticRegression(solver="lbfgs")
#clf= OneVsRestClassifier(clf).fit(x_tr,y_tr)

In [41]:
pred=clf.predict(x_te)

In [42]:
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold

In [43]:
y_tr=y_tr.toarray()

In [44]:
for scoring in ["precision_micro", "recall_micro", "f1_micro", "accuracy"]:
        s = cross_val_score(clf, x_tr, y_tr, cv=None , scoring=scoring, n_jobs=-1)
        print("%s: %.2f +- %.2f" % (scoring, s.mean(), s.std()))

precision_micro: 0.64 +- 0.01
recall_micro: 0.49 +- 0.00
f1_micro: 0.56 +- 0.00
accuracy: 0.23 +- 0.00

In [ ]:
mlb.fit(y_test.values)

In [46]:
y_te=mlb.transform(y_test)

In [47]:
y_te=y_te.toarray()

In [48]:
from sklearn.metrics import accuracy_score,f1_score, average_precision_score
from sklearn.metrics import recall_score,precision_score

In [49]:
print("Accuracy score is \t",accuracy_score(y_te,pred))
print("F1 score of the model is\t",f1_score(y_te,pred,average='micro'))
print("Precision Score : \t",precision_score(y_te, pred, pos_label='positive',average='micro'))
print("Average precision score is\t",average_precision_score(y_te,pred.toarray(),average='micro'))
print("recall score is\t",recall_score(y_te, pred, pos_label='positive',average='micro'))

Accuracy score is 	 0.1035
F1 score of the model is	 0.3549003549003549
Precision Score : 	 0.39085989176187613
Average precision score is	 0.16921696482260973
recall score is	 0.325

C:\Users\darsh\Anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1321: UserWarning: Note that pos_label (set to 'positive') is ignored when average != 'binary' (got 'micro'). You may use labels=[pos_label] to specify a single positive class.
  % (pos_label, average), UserWarning)
C:\Users\darsh\Anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1321: UserWarning: Note that pos_label (set to 'positive') is ignored when average != 'binary' (got 'micro'). You may use labels=[pos_label] to specify a single positive class.
  % (pos_label, average), UserWarning)

In [50]:
pred[5].toarray()

array([[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]],
      dtype=int32)

In [58]:
result=pd.DataFrame(columns=["Actual","Predicted"])

In [59]:
result["Predicted"]=mlb.inverse_transform(pred[0:5])

In [61]:
result["Actual"]=mlb.inverse_transform(y_te[0:5])

In [64]:
print(result)

                              Actual                      Predicted
0         (male, Aries, 36, Fashion)              (male, 15, Aries)
1      (male, Aries, 35, Technology)     (male, Aries, 36, Fashion)
2      (male, Aries, 35, Technology)                  (male, Aries)
3  (female, indUnk, Sagittarius, 34)              (male, Aries, 25)
4      (Leo, female, Consulting, 42)  (female, indUnk, Sagittarius)