In [179]:
# Read the Dataset and replace the dashes with zeros

In [200]:
import pandas as pd
import numpy as np

In [201]:
dataset=pd.read_csv("Laliga.csv")

In [202]:
dataset.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19
0,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
1,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,79,1929,1929,1
2,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,83,1929,1929,1
3,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,56,1929,2002-03,1
4,4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,50,1931-32,1987-88,1

In [203]:
dataset.replace(to_replace='-',value=0,inplace=True)

In [204]:
dataset

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19
0,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
1,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,79,1929,1929,1
2,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,83,1929,1929,1
3,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,56,1929,2002-03,1
4,4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,50,1931-32,1987-88,1
5,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,8,7,10,5,8,10,49,1929,1929,1
6,6,Sevilla,73,2819,2408,990,531,887,3680,3373,1,4,4,5,12,6,32,1934-35,2001-02,1
7,7,Espanyol,82,2792,2626,948,608,1070,3609,3889,0,0,4,5,2,5,16,1929,1994-95,3
8,8,Real Sociedad,70,2573,2302,864,577,861,3228,3230,2,3,2,5,4,3,19,1929,2010-11,1
9,9,Zaragoza,58,2109,1986,698,522,766,2683,2847,0,1,4,5,4,4,18,1939-40,2012-13,2
10,10,Real Betis,51,1884,1728,606,440,682,2159,2492,1,0,2,3,4,4,14,1932-33,2015-16,1
11,11,Deportivo La Coruna,45,1814,1530,563,392,575,2052,2188,1,5,4,1,0,1,12,1941-42,2014-15,1
12,12,Celta Vigo,51,1789,1698,586,389,723,2278,2624,0,0,0,2,4,5,11,1939-40,2012-13,4
13,13,Valladolid,42,1471,1466,463,384,619,1767,2180,0,0,0,1,1,1,3,1948-49,2013-14,4
14,14,Racing Santander,44,1416,1428,453,336,639,1843,2368,0,1,1,2,0,1,5,1929,2011-12,2
15,15,Sporting Gijon,43,1389,1458,471,358,629,1753,2152,0,1,1,2,2,1,7,1944-45,2015-16,2
16,16,Osasuna,37,1351,1318,426,327,565,1500,1834,0,0,0,2,2,2,6,1935-36,2016-17,4
17,17,Malaga,36,1314,1255,390,330,535,1421,1763,0,0,0,1,0,1,2,1949-50,2008-09,4
18,18,Oviedo,38,1174,1192,408,292,492,1642,1951,0,0,3,2,2,4,11,1933-34,2000-01,3
19,19,Mallorca,27,1148,988,333,256,399,1182,1371,0,0,2,0,2,1,5,1960-61,2012-13,3
20,20,Las Palmas,33,1020,1096,367,242,487,1347,1746,0,1,1,1,1,1,5,1951-52,2015-16,2
21,21,Villarreal,17,970,646,266,172,208,892,789,0,1,1,2,3,2,9,1998-99,2013-14,2
22,22,Granada,23,667,742,218,175,349,819,1157,0,0,0,0,0,2,2,1941-42,2016-17,6
23,23,Rayo Vallecano,17,662,652,189,148,305,760,1088,0,0,0,0,0,0,0,1977-78,2015-16,8
24,24,Elche,21,606,678,203,180,295,750,1022,0,0,0,0,1,1,2,1959-60,2014-15,5
25,25,Getafe,12,553,456,147,112,197,520,633,0,0,0,0,0,1,1,2004-05,2015-16,6
26,26,Hercules,20,538,628,184,149,295,716,1050,0,0,0,0,1,4,5,1935-36,2010-11,5
27,27,Tenerife,13,510,494,155,128,211,619,744,0,0,0,0,2,0,2,1961-62,2009-10,5
28,28,Murcia,18,445,586,145,143,298,607,992,0,0,0,0,0,0,0,1940-41,2007-08,11
29,29,Alaves,12,421,380,125,81,174,458,623,0,0,0,0,0,1,1,1930-31,2016-17,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32,32,Sabadell,14,353,426,129,95,202,492,720,0,0,0,1,1,0,2,1943-44,1987-88,4
33,33,Cadiz,12,343,448,104,127,217,393,662,0,0,0,0,0,0,0,1977-78,2005-06,12
34,34,Logrones,9,293,346,96,92,158,291,489,0,0,0,0,0,0,0,1987-88,1996-97,7
35,35,Castellon,11,285,334,103,79,152,419,588,0,0,0,1,2,0,3,1941-42,1990-91,4
36,36,Albacete,7,277,270,76,76,118,320,410,0,0,0,0,0,0,0,1991-92,2004-05,7
37,37,Almeria,6,242,228,62,56,110,244,366,0,0,0,0,0,0,0,2007-08,2014-15,8
38,38,Cordoba,9,230,282,82,63,137,285,430,0,0,0,0,1,0,1,1962-63,2014-15,5
39,39,Compostela,4,190,160,52,45,63,199,241,0,0,0,0,0,0,0,1994-95,1997-98,10
40,40,Recreativo,5,188,186,50,46,90,202,296,0,0,0,0,0,0,0,1978-79,2008-09,8
41,41,Burgos CF,6,168,204,59,50,95,216,310,0,0,0,0,0,0,0,1971-72,1979-80,12
42,42,Pontevedra,6,150,180,53,44,83,165,221,0,0,0,0,0,0,0,1963-64,1969-70,7
43,43,Numancia,4,148,152,37,37,78,155,253,0,0,0,0,0,0,0,1999-00,2008-09,17
44,44,Eibar,3,132,114,35,27,52,139,167,0,0,0,0,0,0,0,2014-15,2014-15,10
45,45,Arenas,7,107,130,43,21,66,227,308,0,0,1,0,3,0,4,1929,1934-35,3
46,46,Real Burgos,3,96,114,26,44,44,101,139,0,0,0,0,0,0,0,1990-91,1992-93,9
47,47,Gimnastic,4,91,116,34,16,66,181,295,0,0,0,0,0,0,0,1947-48,2006-07,7
48,48,Extremadura,2,83,80,20,23,37,62,117,0,0,0,0,0,0,0,1996-97,1998-99,17
49,49,Merida,2,81,80,19,24,37,70,115,0,0,0,0,0,0,0,1995-96,1997-98,19
50,50,Alcoyano,4,76,108,30,16,62,145,252,0,0,0,0,0,0,0,1945-46,1950-51,10
51,51,Jaen,3,71,90,29,13,48,121,183,0,0,0,0,0,0,0,1953-54,1957-58,14
52,52,Real Union,4,56,72,21,14,37,153,184,0,0,0,0,0,1,1,1929,1931-32,6
53,53,AD Almeria,2,52,68,17,18,33,71,116,0,0,0,0,0,0,0,1979-80,1980-81,10
54,54,Europa,3,42,54,18,6,30,97,131,0,0,0,0,0,0,0,1929,1930-31,8
55,55,Lleida,2,40,68,13,14,41,70,182,0,0,0,0,0,0,0,1950-51,1993-94,16
56,56,Leganes,1,35,38,8,11,19,36,55,0,0,0,0,0,0,0,2016-17,2016-17,17
57,57,Xerez,1,34,38,8,10,20,38,66,0,0,0,0,0,0,0,2009-10,2009-10,20
58,58,Condal,1,22,30,7,8,15,37,57,0,0,0,0,0,0,0,1956-57,1956-57,16
59,59,Atletico Tetuan,1,19,30,7,5,18,51,85,0,0,0,0,0,0,0,1951-52,1951-52,16
60,60,Cultural Leonesa,1,14,30,5,4,21,34,65,0,0,0,0,0,0,0,1955-56,1955-56,15
61,61,Girona,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2017-18,2017-18,9

In [205]:
#Print all the teams which have started between 1930-1980

In [208]:
dataset.rename(columns=dataset.iloc[0],inplace=True)

In [209]:
dataset

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
0,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
1,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,79,1929,1929,1
2,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,83,1929,1929,1
3,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,56,1929,2002-03,1
4,4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,50,1931-32,1987-88,1
5,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,8,7,10,5,8,10,49,1929,1929,1
6,6,Sevilla,73,2819,2408,990,531,887,3680,3373,1,4,4,5,12,6,32,1934-35,2001-02,1
7,7,Espanyol,82,2792,2626,948,608,1070,3609,3889,0,0,4,5,2,5,16,1929,1994-95,3
8,8,Real Sociedad,70,2573,2302,864,577,861,3228,3230,2,3,2,5,4,3,19,1929,2010-11,1
9,9,Zaragoza,58,2109,1986,698,522,766,2683,2847,0,1,4,5,4,4,18,1939-40,2012-13,2
10,10,Real Betis,51,1884,1728,606,440,682,2159,2492,1,0,2,3,4,4,14,1932-33,2015-16,1
11,11,Deportivo La Coruna,45,1814,1530,563,392,575,2052,2188,1,5,4,1,0,1,12,1941-42,2014-15,1
12,12,Celta Vigo,51,1789,1698,586,389,723,2278,2624,0,0,0,2,4,5,11,1939-40,2012-13,4
13,13,Valladolid,42,1471,1466,463,384,619,1767,2180,0,0,0,1,1,1,3,1948-49,2013-14,4
14,14,Racing Santander,44,1416,1428,453,336,639,1843,2368,0,1,1,2,0,1,5,1929,2011-12,2
15,15,Sporting Gijon,43,1389,1458,471,358,629,1753,2152,0,1,1,2,2,1,7,1944-45,2015-16,2
16,16,Osasuna,37,1351,1318,426,327,565,1500,1834,0,0,0,2,2,2,6,1935-36,2016-17,4
17,17,Malaga,36,1314,1255,390,330,535,1421,1763,0,0,0,1,0,1,2,1949-50,2008-09,4
18,18,Oviedo,38,1174,1192,408,292,492,1642,1951,0,0,3,2,2,4,11,1933-34,2000-01,3
19,19,Mallorca,27,1148,988,333,256,399,1182,1371,0,0,2,0,2,1,5,1960-61,2012-13,3
20,20,Las Palmas,33,1020,1096,367,242,487,1347,1746,0,1,1,1,1,1,5,1951-52,2015-16,2
21,21,Villarreal,17,970,646,266,172,208,892,789,0,1,1,2,3,2,9,1998-99,2013-14,2
22,22,Granada,23,667,742,218,175,349,819,1157,0,0,0,0,0,2,2,1941-42,2016-17,6
23,23,Rayo Vallecano,17,662,652,189,148,305,760,1088,0,0,0,0,0,0,0,1977-78,2015-16,8
24,24,Elche,21,606,678,203,180,295,750,1022,0,0,0,0,1,1,2,1959-60,2014-15,5
25,25,Getafe,12,553,456,147,112,197,520,633,0,0,0,0,0,1,1,2004-05,2015-16,6
26,26,Hercules,20,538,628,184,149,295,716,1050,0,0,0,0,1,4,5,1935-36,2010-11,5
27,27,Tenerife,13,510,494,155,128,211,619,744,0,0,0,0,2,0,2,1961-62,2009-10,5
28,28,Murcia,18,445,586,145,143,298,607,992,0,0,0,0,0,0,0,1940-41,2007-08,11
29,29,Alaves,12,421,380,125,81,174,458,623,0,0,0,0,0,1,1,1930-31,2016-17,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32,32,Sabadell,14,353,426,129,95,202,492,720,0,0,0,1,1,0,2,1943-44,1987-88,4
33,33,Cadiz,12,343,448,104,127,217,393,662,0,0,0,0,0,0,0,1977-78,2005-06,12
34,34,Logrones,9,293,346,96,92,158,291,489,0,0,0,0,0,0,0,1987-88,1996-97,7
35,35,Castellon,11,285,334,103,79,152,419,588,0,0,0,1,2,0,3,1941-42,1990-91,4
36,36,Albacete,7,277,270,76,76,118,320,410,0,0,0,0,0,0,0,1991-92,2004-05,7
37,37,Almeria,6,242,228,62,56,110,244,366,0,0,0,0,0,0,0,2007-08,2014-15,8
38,38,Cordoba,9,230,282,82,63,137,285,430,0,0,0,0,1,0,1,1962-63,2014-15,5
39,39,Compostela,4,190,160,52,45,63,199,241,0,0,0,0,0,0,0,1994-95,1997-98,10
40,40,Recreativo,5,188,186,50,46,90,202,296,0,0,0,0,0,0,0,1978-79,2008-09,8
41,41,Burgos CF,6,168,204,59,50,95,216,310,0,0,0,0,0,0,0,1971-72,1979-80,12
42,42,Pontevedra,6,150,180,53,44,83,165,221,0,0,0,0,0,0,0,1963-64,1969-70,7
43,43,Numancia,4,148,152,37,37,78,155,253,0,0,0,0,0,0,0,1999-00,2008-09,17
44,44,Eibar,3,132,114,35,27,52,139,167,0,0,0,0,0,0,0,2014-15,2014-15,10
45,45,Arenas,7,107,130,43,21,66,227,308,0,0,1,0,3,0,4,1929,1934-35,3
46,46,Real Burgos,3,96,114,26,44,44,101,139,0,0,0,0,0,0,0,1990-91,1992-93,9
47,47,Gimnastic,4,91,116,34,16,66,181,295,0,0,0,0,0,0,0,1947-48,2006-07,7
48,48,Extremadura,2,83,80,20,23,37,62,117,0,0,0,0,0,0,0,1996-97,1998-99,17
49,49,Merida,2,81,80,19,24,37,70,115,0,0,0,0,0,0,0,1995-96,1997-98,19
50,50,Alcoyano,4,76,108,30,16,62,145,252,0,0,0,0,0,0,0,1945-46,1950-51,10
51,51,Jaen,3,71,90,29,13,48,121,183,0,0,0,0,0,0,0,1953-54,1957-58,14
52,52,Real Union,4,56,72,21,14,37,153,184,0,0,0,0,0,1,1,1929,1931-32,6
53,53,AD Almeria,2,52,68,17,18,33,71,116,0,0,0,0,0,0,0,1979-80,1980-81,10
54,54,Europa,3,42,54,18,6,30,97,131,0,0,0,0,0,0,0,1929,1930-31,8
55,55,Lleida,2,40,68,13,14,41,70,182,0,0,0,0,0,0,0,1950-51,1993-94,16
56,56,Leganes,1,35,38,8,11,19,36,55,0,0,0,0,0,0,0,2016-17,2016-17,17
57,57,Xerez,1,34,38,8,10,20,38,66,0,0,0,0,0,0,0,2009-10,2009-10,20
58,58,Condal,1,22,30,7,8,15,37,57,0,0,0,0,0,0,0,1956-57,1956-57,16
59,59,Atletico Tetuan,1,19,30,7,5,18,51,85,0,0,0,0,0,0,0,1951-52,1951-52,16
60,60,Cultural Leonesa,1,14,30,5,4,21,34,65,0,0,0,0,0,0,0,1955-56,1955-56,15
61,61,Girona,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2017-18,2017-18,9

In [210]:
dataset

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
0,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
1,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,79,1929,1929,1
2,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,83,1929,1929,1
3,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,56,1929,2002-03,1
4,4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,50,1931-32,1987-88,1
5,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,8,7,10,5,8,10,49,1929,1929,1
6,6,Sevilla,73,2819,2408,990,531,887,3680,3373,1,4,4,5,12,6,32,1934-35,2001-02,1
7,7,Espanyol,82,2792,2626,948,608,1070,3609,3889,0,0,4,5,2,5,16,1929,1994-95,3
8,8,Real Sociedad,70,2573,2302,864,577,861,3228,3230,2,3,2,5,4,3,19,1929,2010-11,1
9,9,Zaragoza,58,2109,1986,698,522,766,2683,2847,0,1,4,5,4,4,18,1939-40,2012-13,2
10,10,Real Betis,51,1884,1728,606,440,682,2159,2492,1,0,2,3,4,4,14,1932-33,2015-16,1
11,11,Deportivo La Coruna,45,1814,1530,563,392,575,2052,2188,1,5,4,1,0,1,12,1941-42,2014-15,1
12,12,Celta Vigo,51,1789,1698,586,389,723,2278,2624,0,0,0,2,4,5,11,1939-40,2012-13,4
13,13,Valladolid,42,1471,1466,463,384,619,1767,2180,0,0,0,1,1,1,3,1948-49,2013-14,4
14,14,Racing Santander,44,1416,1428,453,336,639,1843,2368,0,1,1,2,0,1,5,1929,2011-12,2
15,15,Sporting Gijon,43,1389,1458,471,358,629,1753,2152,0,1,1,2,2,1,7,1944-45,2015-16,2
16,16,Osasuna,37,1351,1318,426,327,565,1500,1834,0,0,0,2,2,2,6,1935-36,2016-17,4
17,17,Malaga,36,1314,1255,390,330,535,1421,1763,0,0,0,1,0,1,2,1949-50,2008-09,4
18,18,Oviedo,38,1174,1192,408,292,492,1642,1951,0,0,3,2,2,4,11,1933-34,2000-01,3
19,19,Mallorca,27,1148,988,333,256,399,1182,1371,0,0,2,0,2,1,5,1960-61,2012-13,3
20,20,Las Palmas,33,1020,1096,367,242,487,1347,1746,0,1,1,1,1,1,5,1951-52,2015-16,2
21,21,Villarreal,17,970,646,266,172,208,892,789,0,1,1,2,3,2,9,1998-99,2013-14,2
22,22,Granada,23,667,742,218,175,349,819,1157,0,0,0,0,0,2,2,1941-42,2016-17,6
23,23,Rayo Vallecano,17,662,652,189,148,305,760,1088,0,0,0,0,0,0,0,1977-78,2015-16,8
24,24,Elche,21,606,678,203,180,295,750,1022,0,0,0,0,1,1,2,1959-60,2014-15,5
25,25,Getafe,12,553,456,147,112,197,520,633,0,0,0,0,0,1,1,2004-05,2015-16,6
26,26,Hercules,20,538,628,184,149,295,716,1050,0,0,0,0,1,4,5,1935-36,2010-11,5
27,27,Tenerife,13,510,494,155,128,211,619,744,0,0,0,0,2,0,2,1961-62,2009-10,5
28,28,Murcia,18,445,586,145,143,298,607,992,0,0,0,0,0,0,0,1940-41,2007-08,11
29,29,Alaves,12,421,380,125,81,174,458,623,0,0,0,0,0,1,1,1930-31,2016-17,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32,32,Sabadell,14,353,426,129,95,202,492,720,0,0,0,1,1,0,2,1943-44,1987-88,4
33,33,Cadiz,12,343,448,104,127,217,393,662,0,0,0,0,0,0,0,1977-78,2005-06,12
34,34,Logrones,9,293,346,96,92,158,291,489,0,0,0,0,0,0,0,1987-88,1996-97,7
35,35,Castellon,11,285,334,103,79,152,419,588,0,0,0,1,2,0,3,1941-42,1990-91,4
36,36,Albacete,7,277,270,76,76,118,320,410,0,0,0,0,0,0,0,1991-92,2004-05,7
37,37,Almeria,6,242,228,62,56,110,244,366,0,0,0,0,0,0,0,2007-08,2014-15,8
38,38,Cordoba,9,230,282,82,63,137,285,430,0,0,0,0,1,0,1,1962-63,2014-15,5
39,39,Compostela,4,190,160,52,45,63,199,241,0,0,0,0,0,0,0,1994-95,1997-98,10
40,40,Recreativo,5,188,186,50,46,90,202,296,0,0,0,0,0,0,0,1978-79,2008-09,8
41,41,Burgos CF,6,168,204,59,50,95,216,310,0,0,0,0,0,0,0,1971-72,1979-80,12
42,42,Pontevedra,6,150,180,53,44,83,165,221,0,0,0,0,0,0,0,1963-64,1969-70,7
43,43,Numancia,4,148,152,37,37,78,155,253,0,0,0,0,0,0,0,1999-00,2008-09,17
44,44,Eibar,3,132,114,35,27,52,139,167,0,0,0,0,0,0,0,2014-15,2014-15,10
45,45,Arenas,7,107,130,43,21,66,227,308,0,0,1,0,3,0,4,1929,1934-35,3
46,46,Real Burgos,3,96,114,26,44,44,101,139,0,0,0,0,0,0,0,1990-91,1992-93,9
47,47,Gimnastic,4,91,116,34,16,66,181,295,0,0,0,0,0,0,0,1947-48,2006-07,7
48,48,Extremadura,2,83,80,20,23,37,62,117,0,0,0,0,0,0,0,1996-97,1998-99,17
49,49,Merida,2,81,80,19,24,37,70,115,0,0,0,0,0,0,0,1995-96,1997-98,19
50,50,Alcoyano,4,76,108,30,16,62,145,252,0,0,0,0,0,0,0,1945-46,1950-51,10
51,51,Jaen,3,71,90,29,13,48,121,183,0,0,0,0,0,0,0,1953-54,1957-58,14
52,52,Real Union,4,56,72,21,14,37,153,184,0,0,0,0,0,1,1,1929,1931-32,6
53,53,AD Almeria,2,52,68,17,18,33,71,116,0,0,0,0,0,0,0,1979-80,1980-81,10
54,54,Europa,3,42,54,18,6,30,97,131,0,0,0,0,0,0,0,1929,1930-31,8
55,55,Lleida,2,40,68,13,14,41,70,182,0,0,0,0,0,0,0,1950-51,1993-94,16
56,56,Leganes,1,35,38,8,11,19,36,55,0,0,0,0,0,0,0,2016-17,2016-17,17
57,57,Xerez,1,34,38,8,10,20,38,66,0,0,0,0,0,0,0,2009-10,2009-10,20
58,58,Condal,1,22,30,7,8,15,37,57,0,0,0,0,0,0,0,1956-57,1956-57,16
59,59,Atletico Tetuan,1,19,30,7,5,18,51,85,0,0,0,0,0,0,0,1951-52,1951-52,16
60,60,Cultural Leonesa,1,14,30,5,4,21,34,65,0,0,0,0,0,0,0,1955-56,1955-56,15
61,61,Girona,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2017-18,2017-18,9

In [211]:
dataset.drop(index=0,inplace=True)

In [212]:
newds=dataset['Debut'].str.split("-",n=1,expand=True)

In [213]:
dataset["starting yr"]=newds[0]

In [214]:
dataset["end yr"]=newds[1]

In [215]:
dataset

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,...,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition,starting yr,end yr
1,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,...,8,8,3,4,79,1929,1929,1,1929,None
2,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,...,12,12,4,6,83,1929,1929,1,1929,None
3,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,...,16,9,7,6,56,1929,2002-03,1,1929,None
4,4,Valencia,82,3386,2664,1187,616,861,4398,3469,...,10,11,10,7,50,1931-32,1987-88,1,1931,32
5,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,...,10,5,8,10,49,1929,1929,1,1929,None
6,6,Sevilla,73,2819,2408,990,531,887,3680,3373,...,4,5,12,6,32,1934-35,2001-02,1,1934,35
7,7,Espanyol,82,2792,2626,948,608,1070,3609,3889,...,4,5,2,5,16,1929,1994-95,3,1929,None
8,8,Real Sociedad,70,2573,2302,864,577,861,3228,3230,...,2,5,4,3,19,1929,2010-11,1,1929,None
9,9,Zaragoza,58,2109,1986,698,522,766,2683,2847,...,4,5,4,4,18,1939-40,2012-13,2,1939,40
10,10,Real Betis,51,1884,1728,606,440,682,2159,2492,...,2,3,4,4,14,1932-33,2015-16,1,1932,33
11,11,Deportivo La Coruna,45,1814,1530,563,392,575,2052,2188,...,4,1,0,1,12,1941-42,2014-15,1,1941,42
12,12,Celta Vigo,51,1789,1698,586,389,723,2278,2624,...,0,2,4,5,11,1939-40,2012-13,4,1939,40
13,13,Valladolid,42,1471,1466,463,384,619,1767,2180,...,0,1,1,1,3,1948-49,2013-14,4,1948,49
14,14,Racing Santander,44,1416,1428,453,336,639,1843,2368,...,1,2,0,1,5,1929,2011-12,2,1929,None
15,15,Sporting Gijon,43,1389,1458,471,358,629,1753,2152,...,1,2,2,1,7,1944-45,2015-16,2,1944,45
16,16,Osasuna,37,1351,1318,426,327,565,1500,1834,...,0,2,2,2,6,1935-36,2016-17,4,1935,36
17,17,Malaga,36,1314,1255,390,330,535,1421,1763,...,0,1,0,1,2,1949-50,2008-09,4,1949,50
18,18,Oviedo,38,1174,1192,408,292,492,1642,1951,...,3,2,2,4,11,1933-34,2000-01,3,1933,34
19,19,Mallorca,27,1148,988,333,256,399,1182,1371,...,2,0,2,1,5,1960-61,2012-13,3,1960,61
20,20,Las Palmas,33,1020,1096,367,242,487,1347,1746,...,1,1,1,1,5,1951-52,2015-16,2,1951,52
21,21,Villarreal,17,970,646,266,172,208,892,789,...,1,2,3,2,9,1998-99,2013-14,2,1998,99
22,22,Granada,23,667,742,218,175,349,819,1157,...,0,0,0,2,2,1941-42,2016-17,6,1941,42
23,23,Rayo Vallecano,17,662,652,189,148,305,760,1088,...,0,0,0,0,0,1977-78,2015-16,8,1977,78
24,24,Elche,21,606,678,203,180,295,750,1022,...,0,0,1,1,2,1959-60,2014-15,5,1959,60
25,25,Getafe,12,553,456,147,112,197,520,633,...,0,0,0,1,1,2004-05,2015-16,6,2004,05
26,26,Hercules,20,538,628,184,149,295,716,1050,...,0,0,1,4,5,1935-36,2010-11,5,1935,36
27,27,Tenerife,13,510,494,155,128,211,619,744,...,0,0,2,0,2,1961-62,2009-10,5,1961,62
28,28,Murcia,18,445,586,145,143,298,607,992,...,0,0,0,0,0,1940-41,2007-08,11,1940,41
29,29,Alaves,12,421,380,125,81,174,458,623,...,0,0,0,1,1,1930-31,2016-17,6,1930,31
30,30,Levante,11,416,402,113,95,194,430,632,...,0,0,0,1,1,1963-64,2015-16,6,1963,64
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32,32,Sabadell,14,353,426,129,95,202,492,720,...,0,1,1,0,2,1943-44,1987-88,4,1943,44
33,33,Cadiz,12,343,448,104,127,217,393,662,...,0,0,0,0,0,1977-78,2005-06,12,1977,78
34,34,Logrones,9,293,346,96,92,158,291,489,...,0,0,0,0,0,1987-88,1996-97,7,1987,88
35,35,Castellon,11,285,334,103,79,152,419,588,...,0,1,2,0,3,1941-42,1990-91,4,1941,42
36,36,Albacete,7,277,270,76,76,118,320,410,...,0,0,0,0,0,1991-92,2004-05,7,1991,92
37,37,Almeria,6,242,228,62,56,110,244,366,...,0,0,0,0,0,2007-08,2014-15,8,2007,08
38,38,Cordoba,9,230,282,82,63,137,285,430,...,0,0,1,0,1,1962-63,2014-15,5,1962,63
39,39,Compostela,4,190,160,52,45,63,199,241,...,0,0,0,0,0,1994-95,1997-98,10,1994,95
40,40,Recreativo,5,188,186,50,46,90,202,296,...,0,0,0,0,0,1978-79,2008-09,8,1978,79
41,41,Burgos CF,6,168,204,59,50,95,216,310,...,0,0,0,0,0,1971-72,1979-80,12,1971,72
42,42,Pontevedra,6,150,180,53,44,83,165,221,...,0,0,0,0,0,1963-64,1969-70,7,1963,64
43,43,Numancia,4,148,152,37,37,78,155,253,...,0,0,0,0,0,1999-00,2008-09,17,1999,00
44,44,Eibar,3,132,114,35,27,52,139,167,...,0,0,0,0,0,2014-15,2014-15,10,2014,15
45,45,Arenas,7,107,130,43,21,66,227,308,...,1,0,3,0,4,1929,1934-35,3,1929,None
46,46,Real Burgos,3,96,114,26,44,44,101,139,...,0,0,0,0,0,1990-91,1992-93,9,1990,91
47,47,Gimnastic,4,91,116,34,16,66,181,295,...,0,0,0,0,0,1947-48,2006-07,7,1947,48
48,48,Extremadura,2,83,80,20,23,37,62,117,...,0,0,0,0,0,1996-97,1998-99,17,1996,97
49,49,Merida,2,81,80,19,24,37,70,115,...,0,0,0,0,0,1995-96,1997-98,19,1995,96
50,50,Alcoyano,4,76,108,30,16,62,145,252,...,0,0,0,0,0,1945-46,1950-51,10,1945,46
51,51,Jaen,3,71,90,29,13,48,121,183,...,0,0,0,0,0,1953-54,1957-58,14,1953,54
52,52,Real Union,4,56,72,21,14,37,153,184,...,0,0,0,1,1,1929,1931-32,6,1929,None
53,53,AD Almeria,2,52,68,17,18,33,71,116,...,0,0,0,0,0,1979-80,1980-81,10,1979,80
54,54,Europa,3,42,54,18,6,30,97,131,...,0,0,0,0,0,1929,1930-31,8,1929,None
55,55,Lleida,2,40,68,13,14,41,70,182,...,0,0,0,0,0,1950-51,1993-94,16,1950,51
56,56,Leganes,1,35,38,8,11,19,36,55,...,0,0,0,0,0,2016-17,2016-17,17,2016,17
57,57,Xerez,1,34,38,8,10,20,38,66,...,0,0,0,0,0,2009-10,2009-10,20,2009,10
58,58,Condal,1,22,30,7,8,15,37,57,...,0,0,0,0,0,1956-57,1956-57,16,1956,57
59,59,Atletico Tetuan,1,19,30,7,5,18,51,85,...,0,0,0,0,0,1951-52,1951-52,16,1951,52
60,60,Cultural Leonesa,1,14,30,5,4,21,34,65,...,0,0,0,0,0,1955-56,1955-56,15,1955,56
61,61,Girona,1,0,0,0,0,0,0,0,...,0,0,0,0,0,2017-18,2017-18,9,2017,18

In [220]:
dataset.drop(columns =["Debut"], inplace = True)

In [221]:
dataset

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,...,Runner-up,Third,Fourth,Fifth,Sixth,T,Since/LastApp,BestPosition,starting yr,end yr
1,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,...,23,8,8,3,4,79,1929,1,1929,None
2,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,...,25,12,12,4,6,83,1929,1,1929,None
3,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,...,8,16,9,7,6,56,2002-03,1,1929,None
4,4,Valencia,82,3386,2664,1187,616,861,4398,3469,...,6,10,11,10,7,50,1987-88,1,1931,32
5,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,...,7,10,5,8,10,49,1929,1,1929,None
6,6,Sevilla,73,2819,2408,990,531,887,3680,3373,...,4,4,5,12,6,32,2001-02,1,1934,35
7,7,Espanyol,82,2792,2626,948,608,1070,3609,3889,...,0,4,5,2,5,16,1994-95,3,1929,None
8,8,Real Sociedad,70,2573,2302,864,577,861,3228,3230,...,3,2,5,4,3,19,2010-11,1,1929,None
9,9,Zaragoza,58,2109,1986,698,522,766,2683,2847,...,1,4,5,4,4,18,2012-13,2,1939,40
10,10,Real Betis,51,1884,1728,606,440,682,2159,2492,...,0,2,3,4,4,14,2015-16,1,1932,33
11,11,Deportivo La Coruna,45,1814,1530,563,392,575,2052,2188,...,5,4,1,0,1,12,2014-15,1,1941,42
12,12,Celta Vigo,51,1789,1698,586,389,723,2278,2624,...,0,0,2,4,5,11,2012-13,4,1939,40
13,13,Valladolid,42,1471,1466,463,384,619,1767,2180,...,0,0,1,1,1,3,2013-14,4,1948,49
14,14,Racing Santander,44,1416,1428,453,336,639,1843,2368,...,1,1,2,0,1,5,2011-12,2,1929,None
15,15,Sporting Gijon,43,1389,1458,471,358,629,1753,2152,...,1,1,2,2,1,7,2015-16,2,1944,45
16,16,Osasuna,37,1351,1318,426,327,565,1500,1834,...,0,0,2,2,2,6,2016-17,4,1935,36
17,17,Malaga,36,1314,1255,390,330,535,1421,1763,...,0,0,1,0,1,2,2008-09,4,1949,50
18,18,Oviedo,38,1174,1192,408,292,492,1642,1951,...,0,3,2,2,4,11,2000-01,3,1933,34
19,19,Mallorca,27,1148,988,333,256,399,1182,1371,...,0,2,0,2,1,5,2012-13,3,1960,61
20,20,Las Palmas,33,1020,1096,367,242,487,1347,1746,...,1,1,1,1,1,5,2015-16,2,1951,52
21,21,Villarreal,17,970,646,266,172,208,892,789,...,1,1,2,3,2,9,2013-14,2,1998,99
22,22,Granada,23,667,742,218,175,349,819,1157,...,0,0,0,0,2,2,2016-17,6,1941,42
23,23,Rayo Vallecano,17,662,652,189,148,305,760,1088,...,0,0,0,0,0,0,2015-16,8,1977,78
24,24,Elche,21,606,678,203,180,295,750,1022,...,0,0,0,1,1,2,2014-15,5,1959,60
25,25,Getafe,12,553,456,147,112,197,520,633,...,0,0,0,0,1,1,2015-16,6,2004,05
26,26,Hercules,20,538,628,184,149,295,716,1050,...,0,0,0,1,4,5,2010-11,5,1935,36
27,27,Tenerife,13,510,494,155,128,211,619,744,...,0,0,0,2,0,2,2009-10,5,1961,62
28,28,Murcia,18,445,586,145,143,298,607,992,...,0,0,0,0,0,0,2007-08,11,1940,41
29,29,Alaves,12,421,380,125,81,174,458,623,...,0,0,0,0,1,1,2016-17,6,1930,31
30,30,Levante,11,416,402,113,95,194,430,632,...,0,0,0,0,1,1,2015-16,6,1963,64
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32,32,Sabadell,14,353,426,129,95,202,492,720,...,0,0,1,1,0,2,1987-88,4,1943,44
33,33,Cadiz,12,343,448,104,127,217,393,662,...,0,0,0,0,0,0,2005-06,12,1977,78
34,34,Logrones,9,293,346,96,92,158,291,489,...,0,0,0,0,0,0,1996-97,7,1987,88
35,35,Castellon,11,285,334,103,79,152,419,588,...,0,0,1,2,0,3,1990-91,4,1941,42
36,36,Albacete,7,277,270,76,76,118,320,410,...,0,0,0,0,0,0,2004-05,7,1991,92
37,37,Almeria,6,242,228,62,56,110,244,366,...,0,0,0,0,0,0,2014-15,8,2007,08
38,38,Cordoba,9,230,282,82,63,137,285,430,...,0,0,0,1,0,1,2014-15,5,1962,63
39,39,Compostela,4,190,160,52,45,63,199,241,...,0,0,0,0,0,0,1997-98,10,1994,95
40,40,Recreativo,5,188,186,50,46,90,202,296,...,0,0,0,0,0,0,2008-09,8,1978,79
41,41,Burgos CF,6,168,204,59,50,95,216,310,...,0,0,0,0,0,0,1979-80,12,1971,72
42,42,Pontevedra,6,150,180,53,44,83,165,221,...,0,0,0,0,0,0,1969-70,7,1963,64
43,43,Numancia,4,148,152,37,37,78,155,253,...,0,0,0,0,0,0,2008-09,17,1999,00
44,44,Eibar,3,132,114,35,27,52,139,167,...,0,0,0,0,0,0,2014-15,10,2014,15
45,45,Arenas,7,107,130,43,21,66,227,308,...,0,1,0,3,0,4,1934-35,3,1929,None
46,46,Real Burgos,3,96,114,26,44,44,101,139,...,0,0,0,0,0,0,1992-93,9,1990,91
47,47,Gimnastic,4,91,116,34,16,66,181,295,...,0,0,0,0,0,0,2006-07,7,1947,48
48,48,Extremadura,2,83,80,20,23,37,62,117,...,0,0,0,0,0,0,1998-99,17,1996,97
49,49,Merida,2,81,80,19,24,37,70,115,...,0,0,0,0,0,0,1997-98,19,1995,96
50,50,Alcoyano,4,76,108,30,16,62,145,252,...,0,0,0,0,0,0,1950-51,10,1945,46
51,51,Jaen,3,71,90,29,13,48,121,183,...,0,0,0,0,0,0,1957-58,14,1953,54
52,52,Real Union,4,56,72,21,14,37,153,184,...,0,0,0,0,1,1,1931-32,6,1929,None
53,53,AD Almeria,2,52,68,17,18,33,71,116,...,0,0,0,0,0,0,1980-81,10,1979,80
54,54,Europa,3,42,54,18,6,30,97,131,...,0,0,0,0,0,0,1930-31,8,1929,None
55,55,Lleida,2,40,68,13,14,41,70,182,...,0,0,0,0,0,0,1993-94,16,1950,51
56,56,Leganes,1,35,38,8,11,19,36,55,...,0,0,0,0,0,0,2016-17,17,2016,17
57,57,Xerez,1,34,38,8,10,20,38,66,...,0,0,0,0,0,0,2009-10,20,2009,10
58,58,Condal,1,22,30,7,8,15,37,57,...,0,0,0,0,0,0,1956-57,16,1956,57
59,59,Atletico Tetuan,1,19,30,7,5,18,51,85,...,0,0,0,0,0,0,1951-52,16,1951,52
60,60,Cultural Leonesa,1,14,30,5,4,21,34,65,...,0,0,0,0,0,0,1955-56,15,1955,56
61,61,Girona,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,2017-18,9,2017,18

In [222]:
dataset.dtypes # the datatype of starting yr is object

Pos              object
Team             object
Seasons          object
Points           object
GamesPlayed      object
GamesWon         object
GamesDrawn       object
GamesLost        object
GoalsFor         object
GoalsAgainst     object
Champion         object
Runner-up        object
Third            object
Fourth           object
Fifth            object
Sixth            object
T                object
Since/LastApp    object
BestPosition     object
starting yr       int64
end yr           object
dtype: object

In [227]:
dataset['starting yr'] = dataset['starting yr'].apply(pd.to_numeric) # changing the datatype of 'starting yr' column
print(dataset.dtypes)

Pos              object
Team             object
Seasons          object
Points            int64
GamesPlayed      object
GamesWon         object
GamesDrawn       object
GamesLost        object
GoalsFor         object
GoalsAgainst     object
Champion         object
Runner-up        object
Third            object
Fourth           object
Fifth            object
Sixth            object
T                object
Since/LastApp    object
BestPosition     object
starting yr       int64
end yr           object
dtype: object

In [224]:
dataset['Points'] = dataset['Points'].apply(pd.to_numeric)

In [225]:
dataset.dtypes

Pos              object
Team             object
Seasons          object
Points            int64
GamesPlayed      object
GamesWon         object
GamesDrawn       object
GamesLost        object
GoalsFor         object
GoalsAgainst     object
Champion         object
Runner-up        object
Third            object
Fourth           object
Fifth            object
Sixth            object
T                object
Since/LastApp    object
BestPosition     object
starting yr       int64
end yr           object
dtype: object

In [166]:
df=dataset[['Team','starting yr']]

In [167]:
df.loc[(df['starting yr'] >= 1930) & (df['starting yr'] <= 1980)]

                   Team  starting yr
4              Valencia         1931
6               Sevilla         1934
9              Zaragoza         1939
10           Real Betis         1932
11  Deportivo La Coruna         1941
12           Celta Vigo         1939
13           Valladolid         1948
15       Sporting Gijon         1944
16              Osasuna         1935
17               Malaga         1949
18               Oviedo         1933
19             Mallorca         1960
20           Las Palmas         1951
22              Granada         1941
23       Rayo Vallecano         1977
24                Elche         1959
26             Hercules         1935
27             Tenerife         1961
28               Murcia         1940
29               Alaves         1930
30              Levante         1963
31            Salamanca         1974
32             Sabadell         1943
33                Cadiz         1977
35            Castellon         1941
38              Cordoba         1962
40           Recreativo         1978
41            Burgos CF         1971
42           Pontevedra         1963
47            Gimnastic         1947
50             Alcoyano         1945
51                 Jaen         1953
53           AD Almeria         1979
55               Lleida         1950
58               Condal         1956
59      Atletico Tetuan         1951
60     Cultural Leonesa         1955

In [ ]:
#print aii the teams which came Top 5 in teerms of points

In [226]:
df1=dataset.nlargest(5,['Points'],keep='first')
df1['Team']

1        Real Madrid
2          Barcelona
3    Atletico Madrid
4           Valencia
5    Athletic Bilbao
Name: Team, dtype: object

In [ ]:
#Write a function with name “Goal_diff_count” which should return all the teams with their Goal Differences. Using the same function, find the team which has maximum and minimum goal difference. (5 points)
#Goal_diff_count = GoalsFor - GoalsAgainst

In [232]:
def Goal_diff_count(x,y):
    print("Goal defference is\t\n",x-y)

In [239]:
dataset['GoalsFor']=dataset['GoalsFor'].apply(pd.to_numeric)

In [240]:
dataset['GoalsAgainst']=dataset['GoalsAgainst'].apply(pd.to_numeric)

In [241]:
a=dataset['GoalsFor']
b=dataset['GoalsAgainst']
Goal_diff_count(a,b)

Goal defference is
 1     2807
2     2786
3     1225
4      929
5      931
6      307
7     -280
8       -2
9     -164
10    -333
11    -136
12    -346
13    -413
14    -525
15    -399
16    -334
17    -342
18    -309
19    -189
20    -399
21     103
22    -338
23    -328
24    -272
25    -113
26    -334
27    -125
28    -385
29    -165
30    -202
      ...
32    -228
33    -269
34    -198
35    -169
36     -90
37    -122
38    -145
39     -42
40     -94
41     -94
42     -56
43     -98
44     -28
45     -81
46     -38
47    -114
48     -55
49     -45
50    -107
51     -62
52     -31
53     -45
54     -34
55    -112
56     -19
57     -28
58     -20
59     -34
60     -31
61       0
Length: 61, dtype: int64

In [242]:
#Create a new column with name “Winning Percent” and append it to the data set (5 points)
#Percentage of Winning = (GamesWon / GamesPlayed)*100

#If there are any numerical error, replace it with 0%

#Print the top 5 teams which has the highest Winning percentage

In [247]:
dataset['GamesPlayed']=dataset['GamesPlayed'].apply(pd.to_numeric)
dataset['GamesWon']=dataset['GamesWon'].apply(pd.to_numeric)

In [248]:
dataset['Winning Percent']=dataset['GamesWon']/dataset['GamesPlayed']*100

In [253]:
dataset.fillna(value=0)

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,...,Third,Fourth,Fifth,Sixth,T,Since/LastApp,BestPosition,starting yr,end yr,Winning Percent
1,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,...,8,8,3,4,79,1929,1,1929,0,59.630702
2,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,...,12,12,4,6,83,1929,1,1929,0,57.241130
3,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,...,16,9,7,6,56,2002-03,1,1929,0,47.475134
4,4,Valencia,82,3386,2664,1187,616,861,4398,3469,...,10,11,10,7,50,1987-88,1,1931,32,44.557057
5,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,...,10,5,8,10,49,1929,1,1929,0,43.772629
6,6,Sevilla,73,2819,2408,990,531,887,3680,3373,...,4,5,12,6,32,2001-02,1,1934,35,41.112957
7,7,Espanyol,82,2792,2626,948,608,1070,3609,3889,...,4,5,2,5,16,1994-95,3,1929,0,36.100533
8,8,Real Sociedad,70,2573,2302,864,577,861,3228,3230,...,2,5,4,3,19,2010-11,1,1929,0,37.532580
9,9,Zaragoza,58,2109,1986,698,522,766,2683,2847,...,4,5,4,4,18,2012-13,2,1939,40,35.146022
10,10,Real Betis,51,1884,1728,606,440,682,2159,2492,...,2,3,4,4,14,2015-16,1,1932,33,35.069444
11,11,Deportivo La Coruna,45,1814,1530,563,392,575,2052,2188,...,4,1,0,1,12,2014-15,1,1941,42,36.797386
12,12,Celta Vigo,51,1789,1698,586,389,723,2278,2624,...,0,2,4,5,11,2012-13,4,1939,40,34.511190
13,13,Valladolid,42,1471,1466,463,384,619,1767,2180,...,0,1,1,1,3,2013-14,4,1948,49,31.582538
14,14,Racing Santander,44,1416,1428,453,336,639,1843,2368,...,1,2,0,1,5,2011-12,2,1929,0,31.722689
15,15,Sporting Gijon,43,1389,1458,471,358,629,1753,2152,...,1,2,2,1,7,2015-16,2,1944,45,32.304527
16,16,Osasuna,37,1351,1318,426,327,565,1500,1834,...,0,2,2,2,6,2016-17,4,1935,36,32.321700
17,17,Malaga,36,1314,1255,390,330,535,1421,1763,...,0,1,0,1,2,2008-09,4,1949,50,31.075697
18,18,Oviedo,38,1174,1192,408,292,492,1642,1951,...,3,2,2,4,11,2000-01,3,1933,34,34.228188
19,19,Mallorca,27,1148,988,333,256,399,1182,1371,...,2,0,2,1,5,2012-13,3,1960,61,33.704453
20,20,Las Palmas,33,1020,1096,367,242,487,1347,1746,...,1,1,1,1,5,2015-16,2,1951,52,33.485401
21,21,Villarreal,17,970,646,266,172,208,892,789,...,1,2,3,2,9,2013-14,2,1998,99,41.176471
22,22,Granada,23,667,742,218,175,349,819,1157,...,0,0,0,2,2,2016-17,6,1941,42,29.380054
23,23,Rayo Vallecano,17,662,652,189,148,305,760,1088,...,0,0,0,0,0,2015-16,8,1977,78,28.987730
24,24,Elche,21,606,678,203,180,295,750,1022,...,0,0,1,1,2,2014-15,5,1959,60,29.941003
25,25,Getafe,12,553,456,147,112,197,520,633,...,0,0,0,1,1,2015-16,6,2004,05,32.236842
26,26,Hercules,20,538,628,184,149,295,716,1050,...,0,0,1,4,5,2010-11,5,1935,36,29.299363
27,27,Tenerife,13,510,494,155,128,211,619,744,...,0,0,2,0,2,2009-10,5,1961,62,31.376518
28,28,Murcia,18,445,586,145,143,298,607,992,...,0,0,0,0,0,2007-08,11,1940,41,24.744027
29,29,Alaves,12,421,380,125,81,174,458,623,...,0,0,0,1,1,2016-17,6,1930,31,32.894737
30,30,Levante,11,416,402,113,95,194,430,632,...,0,0,0,1,1,2015-16,6,1963,64,28.109453
31,31,Salamanca,12,375,423,123,102,198,422,581,...,0,0,0,0,0,1998-99,7,1974,75,29.078014
32,32,Sabadell,14,353,426,129,95,202,492,720,...,0,1,1,0,2,1987-88,4,1943,44,30.281690
33,33,Cadiz,12,343,448,104,127,217,393,662,...,0,0,0,0,0,2005-06,12,1977,78,23.214286
34,34,Logrones,9,293,346,96,92,158,291,489,...,0,0,0,0,0,1996-97,7,1987,88,27.745665
35,35,Castellon,11,285,334,103,79,152,419,588,...,0,1,2,0,3,1990-91,4,1941,42,30.838323
36,36,Albacete,7,277,270,76,76,118,320,410,...,0,0,0,0,0,2004-05,7,1991,92,28.148148
37,37,Almeria,6,242,228,62,56,110,244,366,...,0,0,0,0,0,2014-15,8,2007,08,27.192982
38,38,Cordoba,9,230,282,82,63,137,285,430,...,0,0,1,0,1,2014-15,5,1962,63,29.078014
39,39,Compostela,4,190,160,52,45,63,199,241,...,0,0,0,0,0,1997-98,10,1994,95,32.500000
40,40,Recreativo,5,188,186,50,46,90,202,296,...,0,0,0,0,0,2008-09,8,1978,79,26.881720
41,41,Burgos CF,6,168,204,59,50,95,216,310,...,0,0,0,0,0,1979-80,12,1971,72,28.921569
42,42,Pontevedra,6,150,180,53,44,83,165,221,...,0,0,0,0,0,1969-70,7,1963,64,29.444444
43,43,Numancia,4,148,152,37,37,78,155,253,...,0,0,0,0,0,2008-09,17,1999,00,24.342105
44,44,Eibar,3,132,114,35,27,52,139,167,...,0,0,0,0,0,2014-15,10,2014,15,30.701754
45,45,Arenas,7,107,130,43,21,66,227,308,...,1,0,3,0,4,1934-35,3,1929,0,33.076923
46,46,Real Burgos,3,96,114,26,44,44,101,139,...,0,0,0,0,0,1992-93,9,1990,91,22.807018
47,47,Gimnastic,4,91,116,34,16,66,181,295,...,0,0,0,0,0,2006-07,7,1947,48,29.310345
48,48,Extremadura,2,83,80,20,23,37,62,117,...,0,0,0,0,0,1998-99,17,1996,97,25.000000
49,49,Merida,2,81,80,19,24,37,70,115,...,0,0,0,0,0,1997-98,19,1995,96,23.750000
50,50,Alcoyano,4,76,108,30,16,62,145,252,...,0,0,0,0,0,1950-51,10,1945,46,27.777778
51,51,Jaen,3,71,90,29,13,48,121,183,...,0,0,0,0,0,1957-58,14,1953,54,32.222222
52,52,Real Union,4,56,72,21,14,37,153,184,...,0,0,0,1,1,1931-32,6,1929,0,29.166667
53,53,AD Almeria,2,52,68,17,18,33,71,116,...,0,0,0,0,0,1980-81,10,1979,80,25.000000
54,54,Europa,3,42,54,18,6,30,97,131,...,0,0,0,0,0,1930-31,8,1929,0,33.333333
55,55,Lleida,2,40,68,13,14,41,70,182,...,0,0,0,0,0,1993-94,16,1950,51,19.117647
56,56,Leganes,1,35,38,8,11,19,36,55,...,0,0,0,0,0,2016-17,17,2016,17,21.052632
57,57,Xerez,1,34,38,8,10,20,38,66,...,0,0,0,0,0,2009-10,20,2009,10,21.052632
58,58,Condal,1,22,30,7,8,15,37,57,...,0,0,0,0,0,1956-57,16,1956,57,23.333333
59,59,Atletico Tetuan,1,19,30,7,5,18,51,85,...,0,0,0,0,0,1951-52,16,1951,52,23.333333
60,60,Cultural Leonesa,1,14,30,5,4,21,34,65,...,0,0,0,0,0,1955-56,15,1955,56,16.666667

In [256]:
df2=dataset.nlargest(5,['Winning Percent'],keep='first')
df2['Team']

1        Real Madrid
2          Barcelona
3    Atletico Madrid
4           Valencia
5    Athletic Bilbao
Name: Team, dtype: object

In [ ]:
#Group teams based on their “Best position” and print the sum of their points for all positions (5 points)
#Eg: Best Position                Points

 #       1                              25000

  #2                              7000

In [258]:
dataset.columns

Index(['Pos', 'Team', 'Seasons', 'Points', 'GamesPlayed', 'GamesWon',
       'GamesDrawn', 'GamesLost', 'GoalsFor', 'GoalsAgainst', 'Champion',
       'Runner-up', 'Third', 'Fourth', 'Fifth', 'Sixth', 'T', 'Since/LastApp',
       'BestPosition', 'starting yr', 'end yr', 'Winning Percent'],
      dtype='object')

In [262]:
dataset['Points']=dataset['Points'].apply(pd.to_numeric)
dataset['BestPosition']=dataset['BestPosition'].apply(pd.to_numeric)

In [259]:
df3=dataset[['Points','BestPosition']]

In [270]:
df3.sort_values("BestPosition",ascending='True')#I am not able to understand  that "Why the 10th position comes after first position"?

    Points BestPosition
1     4385            1
2     4262            1
3     3442            1
4     3386            1
5     3368            1
6     2819            1
8     2573            1
10    1884            1
11    1814            1
44     132           10
53      52           10
39     190           10
50      76           10
28     445           11
33     343           12
41     168           12
51      71           14
60      14           15
58      22           16
55      40           16
59      19           16
48      83           17
56      35           17
43     148           17
49      81           19
9     2109            2
14    1416            2
21     970            2
20    1020            2
15    1389            2
..     ...          ...
45     107            3
19    1148            3
18    1174            3
7     2792            3
12    1789            4
32     353            4
13    1471            4
17    1314            4
16    1351            4
35     285            4
38     230            5
27     510            5
26     538            5
24     606            5
30     416            6
29     421            6
22     667            6
52      56            6
25     553            6
31     375            7
42     150            7
36     277            7
34     293            7
47      91            7
54      42            8
40     188            8
37     242            8
23     662            8
46      96            9
61       0            9

[61 rows x 2 columns]